.DS_Store
.build/
.swiftpm/
DerivedData/
build/
dist/
*.xcuserstate
*.xccheckout
*.png
!.github/**/*.png
!Assets/DMG/*.png
!Assets/AppIcon/*.png
!Assets/AppIcon/*.icns
!Assets/AppIcon/Nova.iconset/*.png
